
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  
}
.calculator {
  height: 100vh;
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(6, 
  100px);
}
.double{
  grid-column: span 2;
  background-color: rgb(255, 178, 35);
}
.calculator > button{
  font-size: 2rem;
  font-weight: 600;  
  cursor: pointer;
  outline: none;
  border: 1px solid black;
  
}
.calculator > button:hover{
  background-color: rgba(255, 255, 255, 0.7)
}
.calculator > div{
  border: 1px solid rgb(170, 163, 163);
}

.output{
  grid-column: 1/ -1;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-break: break-all;
}
.new{
  color: aliceblue;
  font-size: 3rem;
}
.previous{
  color: rgb(177, 178, 179);
  font-size: 1rem;
}