@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yusei Magic', sans-serif;
  
}
body {
  background: linear-gradient(to right top, darkcyan,fuchsia );
}
.calculator {
  height: 100vh;
  width: 100%;
  border-radius: 1rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 
  100px) ;
  
}
.calculator > button{
  font-size: 2rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  outline: none;
  border: 1px solid black;

}
.double{
  grid-column: span 2;
}
.output{
  grid-column: 1/ -1;
  background: rgba(0, 0, 0, 0.8);
  
  height: 9rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  
}


.new{
  color: aliceblue;
  font-size: 3rem;
  
}
.previous{
  color: rgb(177, 178, 179);
  font-size: 1rem;
}